#components-layout-demo-responsive .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.header{
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.logo{
  width: 230px;
  overflow: hidden;
  margin-left:-30px
}
.btnBox{
  width:8%;
  margin-right: 0;
  position: absolute;
  right: 2%;
  ;
}
.btn{
  width:100%;

}
.fontBox{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


